services:
  app:
    develop:
      watch:
        - path: .
          action: sync
          target: /app

        - path: ./package.json
          action: rebuild

    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    environment:
      - NODE_ENV=development
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
