@import "tailwindcss";

:root {
  font-size: 10px;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-olive-300: #93a494;
  --color-olive-400: #758a7c;
  --color-olive-500: #59695e;
  --color-olive-900: #2e3d38;
  --color-secondary: #9d7a46;
  --color-beige-500: #c9a878;
  --color-gray-100: #efefef;
  --color-gray-300: #d0d0d0;
  --color-gray-500: #6b6b6b;

  --shadow-primary:
    0 2.542px 2.542px 0 rgba(0, 0, 0, 0.25),
    4.448px 3.813px 9.277px 0 rgba(0, 0, 0, 0.25);
  --shadow-soft: 7px 6px 14.6px rgba(0, 0, 0, 0.25);
  --shadow-inner: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
  --text-shadow-primary:
    0 4px 4px rgba(0, 0, 0, 0.25), 7px 6px 14.6px rgba(0, 0, 0, 0.25);
  --text-shadow-soft: 7px 6px 14.6px rgba(0, 0, 0, 0.25);
  --drop-shadow-primary:
    3.824px 3.278px 7.976px rgba(0, 0, 0, 0.25),
    0 2.185px 2.185px rgba(0, 0, 0, 0.25);

  --font-medad: var(--font-medad);
  --font-messiri: var(--font-messiri);

  --text-heading-2: 3.8rem;
}

@utility heading-2 {
  @apply text-olive-500 text-heading-2 text-shadow-soft font-bold;
}

@utility title-block {
  @apply [&>h2]:heading-2 text-center [&>p]:mb-22 [&>p]:max-w-3xl [&>p]:text-[2rem] [&>p]:text-gray-500;
}

@utility container-wide {
  @apply relative flex flex-col items-center px-53!;
}

/* 
DARK MODE IMPLEMENTATION

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  font-family: var(--font-messiri), Arial, Helvetica, sans-serif;
}

button,
a,
img,
svg {
  user-select: none;
}

button, a {
    cursor: pointer;
}
