asgiref==3.10.0
async-timeout==5.0.1
certifi==2025.10.5
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.4
Django==5.2.7
django-crontab==0.7.1
django-debug-toolbar==6.0.0
django-environ==0.12.0
django-jazzmin==3.0.1
django-simpleui==2025.6.24
idna==3.11
msgpack==1.1.2
phonenumbers==9.0.17
pillow==12.0.0
psycopg2-binary==2.9.11
redis==7.1.0
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
